<IfModule mod_headers.c>
	Header set Access-Control-Allow-Origin "*"
</IfModule>

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^$ /home [L,R=301]
RewriteRule ^home$ index.php
RewriteRule ^profile$ profile.php
RewriteRule ^signout$ signout.php

# Varukorg URLS
RewriteCond %{THE_REQUEST} POST
RewriteRule ^order$ auth/order.php

# API URLs
	# Användar-API
	RewriteRule ^api/user/([a-zA-Z0-9]+)$ api/user.php?key=$1
	RewriteRule ^api/users$ api/users.php

	# Produkter
	RewriteRule ^api/products$ api/products.php
	RewriteRule ^api/product/([0-9]+)$ api/product.php?id=$1

	# Gästbok
	RewriteRule ^api/guestbook/entries/([0-9]+)$ api/guestbook-entries.php?page=$1

# Admin URLs
RewriteRule ^admin/overview$ admin/overview.php

# Guestbook URLs
RewriteCond %{THE_REQUEST} POST
RewriteRule ^guestbook$ auth/guestbook.php

RewriteCond %{THE_REQUEST} GET
RewriteRule ^guestbook$ guestbook.php

RewriteRule ^guestbook/([0-9]+)$ guestbook.php?page=$1

# Login/Register URLs
RewriteCond %{THE_REQUEST} POST
RewriteRule ^login$ auth/login.php

RewriteCond %{THE_REQUEST} GET
RewriteRule ^login$ login.php

RewriteCond %{THE_REQUEST} POST
RewriteRule ^register$ auth/register.php

RewriteCond %{THE_REQUEST} GET
RewriteRule ^register$ register.php

RewriteRule ^product/([a-zA-Z]+)$ products/$1.php
RewriteRule ^product/([a-zA-Z\-]+)/image/(.+)\.(jpg|png)$ static/images/$1/$2.$3
RewriteRule ^product/([a-zA-Z\-]+)/video/(.+)\.(mp4)$ static/videos/$1/$2.$3

# Static files
RewriteRule ^image/(.+)\.(jpg|png|gif)$ static/images/$1.$2
RewriteRule ^font/(.+)\.(ttf|otf)$ static/fonts/$1.$2
RewriteRule ^css/(.*?).css$ static/css/$1.css
RewriteRule ^js/(.*?).js$ static/js/$1.js