RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^$ /home [L,R=301]
RewriteRule ^home$ index.php

# Guestbook URLs
RewriteCond %{THE_REQUEST} POST
RewriteRule ^guestbook$ api/guestbook.php
RewriteCond %{THE_REQUEST} GET
RewriteRule ^guestbook$ guestbook.php


RewriteRule ^product/([a-zA-Z]+)$ products/$1.php
RewriteRule ^product/([a-zA-Z\-]+)/image/(.+)\.(jpg|png)$ static/images/$1/$2.$3
RewriteRule ^product/([a-zA-Z\-]+)/video/(.+)\.(mp4)$ static/videos/$1/$2.$3

# Static files
RewriteRule ^image/(.+)\.(jpg|png|gif)$ static/images/$1.$2
RewriteRule ^font/(.+)\.(ttf|otf)$ static/fonts/$1.$2
RewriteRule ^css/(.*?).css$ static/css/$1.css
RewriteRule ^js/(.*?).js$ static/js/$1.js