<IfModule mod_headers.c>
	Header set Access-Control-Allow-Origin "*"
</IfModule>

Options -Indexes

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^$ /home [L,R=301]
RewriteRule ^home$ index.php
RewriteRule ^about$ about.php
RewriteRule ^blog$ blog.php
RewriteRule ^forum$ forum.php
RewriteRule ^profile$ profile.php
RewriteRule ^signout$ signout.php

# API URLs
	# Användar-API
	RewriteRule ^api/user/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ api/user.php?id=$1&key=$2
	RewriteRule ^api/users/([0-9]+)$ api/users.php?page=$1

	# Produkter
	RewriteRule ^api/products$ api/products.php
	RewriteRule ^api/product/([0-9]+)$ api/product.php?id=$1

	# Gästbok
	RewriteRule ^api/guestbook/entries/([0-9]+)$ api/guestbook-entries.php?page=$1

	# Forum inlägg
	RewriteRule ^api/posts/([0-9]+)$ api/posts.php?page=$1

# Forum URLs
RewriteRule ^forum$ forum.php
RewriteRule ^forum/$ forum.php
RewriteRule ^forum/([0-9]+)$ forum.php?page=$1

# Admin URLs
RewriteRule ^admin$ /admin/overview [L,R=301]
RewriteRule ^admin/$ /admin/overview [L,R=301]
RewriteRule ^admin/overview$ admin/overview.php

# Gästbook URLs
RewriteCond %{THE_REQUEST} POST
RewriteRule ^guestbook$ auth/guestbook.php

RewriteCond %{THE_REQUEST} GET
RewriteRule ^guestbook$ guestbook.php

RewriteRule ^guestbook/([0-9]+)$ guestbook.php?page=$1

# Forum inlägg
RewriteCond %{THE_REQUEST} GET
RewriteRule ^forum/post/([0-9]+)$ forum/post.php?id=$1

RewriteCond %{THE_REQUEST} POST
RewriteRule ^forum/post/([0-9]+)$ auth/forum/comment.php?id=$1

# Login/Register URLs
RewriteCond %{THE_REQUEST} POST
RewriteRule ^login$ auth/login.php

RewriteCond %{THE_REQUEST} GET
RewriteRule ^login$ login.php

RewriteCond %{THE_REQUEST} POST
RewriteRule ^register$ auth/register.php

RewriteCond %{THE_REQUEST} GET
RewriteRule ^register$ register.php

# Produkt URLs
RewriteCond %{THE_REQUEST} POST
RewriteRule ^order$ auth/order.php

RewriteCond %{THE_REQUEST} GET
RewriteRule ^product/([a-zA-Z]+)$ products/$1.php

RewriteRule ^product/([a-zA-Z\-]+)/image/(.+)\.(jpg|png)$ static/images/$1/$2.$3
RewriteRule ^product/([a-zA-Z\-]+)/video/(.+)\.(mp4)$ static/videos/$1/$2.$3

# Static files
RewriteRule ^image/(.+)\.(jpg|png|gif)$ static/images/$1.$2
RewriteRule ^font/(.+)\.(ttf|otf)$ static/fonts/$1.$2
RewriteRule ^css/(.*?).css$ static/css/$1.css
RewriteRule ^js/(.*?).js$ static/js/$1.js