@font-face {
  src: url("https://192.168.0.5/font/opensans-bold.ttf");
  font-family: Open Sans;
  font-weight: 700;
}
@font-face {
  src: url("https://192.168.0.5/font/opensans-regular.ttf");
  font-family: Open Sans;
  font-weight: 400;
}
@font-face {
  src: url("https://192.168.0.5/font/opensans-light.ttf");
  font-family: Open Sans;
  font-weight: 100;
}
@font-face {
  src: url("https://192.168.0.5/font/raleway-bold.ttf");
  font-family: Raleway;
  font-weight: 700;
}
@font-face {
  src: url("https://192.168.0.5/font/raleway-regular.ttf");
  font-family: Raleway;
  font-weight: 400;
}
@font-face {
  src: url("https://192.168.0.5/font/raleway-thin.ttf");
  font-family: Raleway;
  font-weight: 100;
}
body {
  background-color: #FFFFFF;
  font-family: Open Sans;
  font-size: 16px;
  margin: 0;
}
.navbar {
  background-color: #0a0d0f;
  position: fixed;
  z-index: 9002;
  width: 100%;
  top: 0;
}
.navbar .navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  display: flex;
  height: 70px;
  width: 90%;
}
.navbar .navbar-wrapper .left,
.navbar .navbar-wrapper .right {
  align-items: center;
  display: flex;
}
.navbar .navbar-wrapper .nav-link {
  text-decoration: none;
  align-items: center;
  color: #CCCCCC;
  font-size: 16px;
  padding: 0 20px;
  display: flex;
  height: 40px;
}
.navbar .navbar-wrapper .nav-link svg {
  margin-right: 10px;
}
.navbar .navbar-wrapper .nav-link .item-count {
  font-size: 14px;
}
.navbar .navbar-wrapper .nav-link:not(:last-child) {
  margin-right: 20px;
}
.navbar .navbar-wrapper .nav-link:hover {
  color: #FFFFFF;
}
.main {
  margin-top: 70px;
}
.main .banner {
  background-position: center;
  height: calc(100vh - 70px);
  background-size: cover;
  overflow: hidden;
}
.main .banner.homepage {
  background-image: url("https://192.168.0.5/image/laptop-dark.jpg");
}
.main .banner.sea {
  background-image: url("https://192.168.0.5/image/sea-banner.jpg");
}
.main .banner .product-showcase {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.main .banner .banner-container {
  background-image: -webkit-linear-gradient(-90deg, transparent 50%, rgba(0, 0, 0, 0.8) 100%);
  height: calc(100vh - 70px);
  justify-content: center;
  align-items: flex-end;
  display: flex;
  width: 100%;
}
.main .banner .banner-container .banner-wrapper {
  width: 50%;
}
.main .banner .banner-container .banner-wrapper .banner-title {
  text-transform: uppercase;
  font-family: Raleway;
  text-align: center;
  margin: 0 0 5px 0;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 75px;
}
.main .banner .banner-container .banner-wrapper .banner-paragraph {
  margin-bottom: 50px;
  text-align: center;
  line-height: 1.5em;
  font-weight: 100;
  color: #FFFFFF;
  font-size: 30px;
}
.main .products {
  margin: 150px 0;
}
.main .products .products-wrapper {
  margin: 0 auto;
  width: 80%;
}
.main .products .products-wrapper .products-title {
  text-transform: uppercase;
  font-family: Raleway;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 40px;
  width: 80%;
}
.main .products .products-wrapper .product {
  border: 1px solid #DDD;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
}
.main .products .products-wrapper .product:not(:last-child) {
  margin-bottom: 50px;
}
.main .products .products-wrapper .product .product-image {
  background-position: center;
  background-size: cover;
  margin-right: 50px;
  height: 150px;
  width: 150px;
}
.main .products .products-wrapper .product .product-info-wrapper {
  justify-content: space-between;
  width: calc(100% - 150px);
  display: flex;
}
.main .products .products-wrapper .product .product-info-wrapper .product-info .product-title {
  text-transform: uppercase;
  font-family: Raleway;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 30px;
  color: #575fcf;
}
.main .products .products-wrapper .product .product-info-wrapper .product-info .product-price {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
}
.main .products .products-wrapper .product .product-info-wrapper .product-info .product-description {
  line-height: 1.5em;
  font-size: 15px;
  max-width: 80%;
}
.main .products .products-wrapper .product .product-info-wrapper .product-interact .product-addtocart {
  background-color: #575fcf;
  justify-content: center;
  font-family: Open Sans;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  color: #FFF;
  display: flex;
  height: 50px;
  border: none;
  width: 200px;
  padding: 0;
}
.main .products .products-wrapper .product .product-info-wrapper .product-interact .product-addtocart:hover {
  background-color: #434cc9;
}
.main .products .products-wrapper .product .product-info-wrapper .product-interact .product-addtocart:active {
  font-size: 13px;
}
.main .products .products-wrapper .product .product-info-wrapper .product-interact .product-addtocart svg {
  margin-right: 10px;
}
.main .products .products-wrapper .product .product-info-wrapper .product-interact .product-viewproduct {
  background-color: #ff3f34;
  justify-content: center;
  font-family: Open Sans;
  text-decoration: none;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  cursor: pointer;
  color: #FFF;
  display: flex;
  height: 50px;
  border: none;
  width: 200px;
  padding: 0;
}
.main .products .products-wrapper .product .product-info-wrapper .product-interact .product-viewproduct:hover {
  background-color: #ff271a;
}
.main .products .products-wrapper .product .product-info-wrapper .product-interact .product-viewproduct:active {
  font-size: 13px;
}
.main .products .products-wrapper .product .product-info-wrapper .product-interact .product-viewproduct svg {
  margin-right: 10px;
}
.main .product-price-banner {
  border-bottom: 1px solid #d2dae2;
}
.main .product-price-banner .price-banner-wrapper {
  text-align: right;
  padding: 20px 0;
  width: 80%;
}
.main .product-price-banner .price-banner-wrapper .price {
  font-family: Raleway;
  font-weight: 400;
  font-size: 25px;
}
.main .product-price-banner .price-banner-wrapper .addtocart-btn {
  background-color: #ff3f34;
  justify-content: center;
  font-family: Open Sans;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  cursor: pointer;
  color: #FFF;
  height: 50px;
  border: none;
  width: 200px;
  padding: 0;
}
.main .product-price-banner .price-banner-wrapper .addtocart-btn:hover {
  background-color: #ff0f01;
}
.main .product-price-banner .price-banner-wrapper .addtocart-btn:active {
  font-size: 13px;
}
.main .product-price-banner .price-banner-wrapper .addtocart-btn svg {
  margin-right: 10px;
}
.main .product-view .product-header {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  height: 100px;
  width: 100%;
  top: 70px;
}
.main .product-view .product-header .product-header-wrapper {
  align-items: center;
  margin: 0 auto;
  display: flex;
  height: 100px;
  width: 90%;
}
.main .product-view .product-header .product-header-wrapper .left,
.main .product-view .product-header .product-header-wrapper .right {
  width: 50%;
}
.main .product-view .product-header .product-header-wrapper .right {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.main .product-view .product-header .product-header-wrapper .product-name {
  text-transform: uppercase;
  font-family: Raleway;
  font-weight: bold;
  font-size: 30px;
  color: #000;
}
.main .product-view .product-header .product-header-wrapper .product-screen-size {
  font-weight: 400;
  font-size: 17px;
  color: #AAA;
}
.main .product-view .product-header .product-header-wrapper .product-price {
  font-family: Open Sans;
  margin-left: 20px;
  font-size: 20px;
  color: #000;
}
.main .product-view .product-header .product-header-wrapper .product-addtocart {
  background-color: #0be881;
  justify-content: center;
  font-family: open sans;
  align-items: center;
  cursor: pointer;
  display: flex;
  color: #FFF;
  border: none;
  height: 40px;
  width: 170px;
  padding: 0;
}
.main .product-view .product-header .product-header-wrapper .product-addtocart:hover {
  background-color: #0ad073;
}
.main .product-view .product-header .product-header-wrapper .product-addtocart svg {
  margin-right: 10px;
}
.main .product-view .product-banner {
  background-image: url('https://192.168.0.5/image/matebook-banner.png');
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 170px);
  background-color: #000;
  background-size: 50%;
  margin-top: 170px;
  width: 100%;
}
.main .product-view .product-info {
  margin: 100px auto;
  width: 70%;
}
.main .product-view .product-info h1 {
  text-transform: uppercase;
  color: #000000;
  font-family: Raleway;
  font-weight: bold;
  font-size: 50px;
  margin: 0;
}
.main .product-view .product-info h1:not(:last-child) {
  margin-bottom: 20px;
}
.main .product-view .product-info img {
  vertical-align: middle;
  margin: 40px 0;
  width: 100%;
}
.main .product-view .product-info h2 {
  font-family: Raleway;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}
.main .product-view .product-info h2:not(:last-child) {
  margin-bottom: 20px;
}
.main .product-view .product-info p {
  margin: 0;
}
.main .product-view .product-info p:not(:last-child) {
  margin-bottom: 20px;
}
.footer {
  background-color: #0a0d0f;
  padding: 100px 0;
}
.footer .footer-wrapper {
  margin: 0 auto;
  display: flex;
  width: 80%;
}
.footer .footer-wrapper .left,
.footer .footer-wrapper .right {
  width: 50%;
}
.footer .footer-wrapper .left .footer-logo {
  text-transform: uppercase;
  font-family: Raleway;
  font-weight: 900;
  font-size: 50px;
  color: #FFF;
}
.footer .footer-wrapper .left .sitemap .sitemap-title {
  font-family: Raleway;
  font-weight: 700;
  color: #0be881;
  font-size: 25px;
  margin: 25px 0;
}
.footer .footer-wrapper .left .sitemap .sitemap-link {
  text-decoration: none;
  color: #CCC;
}
.footer .footer-wrapper .left .sitemap .sitemap-link:not(:last-child) {
  margin-right: 40px;
}
.footer .footer-wrapper .left .sitemap .sitemap-link:hover {
  color: #FFF;
}
.footer .footer-wrapper .left .contact {
  margin-top: 50px;
}
.footer .footer-wrapper .left .contact .contact-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 25px;
  margin: 25px 0;
  color: #0be881;
}
.footer .footer-wrapper .left .contact .email {
  align-items: center;
  color: #FFF;
  display: flex;
}
.footer .footer-wrapper .left .contact .email a {
  text-decoration: none;
  margin-right: 10px;
  color: #CCC;
}
.footer .footer-wrapper .left .contact .email a:hover {
  text-decoration: underline;
  color: #FFF;
}
.footer .footer-wrapper .left .contact .email svg {
  margin-right: 10px;
  color: #FFF;
}
.footer .copyright {
  font-family: Raleway;
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
  color: #FFF;
}
