@font-face {
  src: url("https://192.168.0.5/font/opensans-bold.ttf");
  font-family: Open Sans;
  font-weight: 700;
}
@font-face {
  src: url("https://192.168.0.5/font/opensans-regular.ttf");
  font-family: Open Sans;
  font-weight: 400;
}
@font-face {
  src: url("https://192.168.0.5/font/opensans-light.ttf");
  font-family: Open Sans;
  font-weight: 100;
}
@font-face {
  src: url("https://192.168.0.5/font/raleway-bold.ttf");
  font-family: Raleway;
  font-weight: 700;
}
@font-face {
  src: url("https://192.168.0.5/font/raleway-regular.ttf");
  font-family: Raleway;
  font-weight: 400;
}
@font-face {
  src: url("https://192.168.0.5/font/raleway-thin.ttf");
  font-family: Raleway;
  font-weight: 100;
}
body {
  background-color: #FFFFFF;
  font-family: Open Sans;
  font-size: 16px;
  margin: 0;
}
.navbar {
  background-color: #191c22;
  position: fixed;
  width: 100%;
  top: 0;
}
.navbar .navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  display: flex;
  height: 70px;
  width: 90%;
}
.navbar .navbar-wrapper .left,
.navbar .navbar-wrapper .right {
  align-items: center;
  display: flex;
}
.navbar .navbar-wrapper .nav-link {
  text-decoration: none;
  align-items: center;
  color: #CCCCCC;
  font-size: 16px;
  padding: 0 20px;
  display: flex;
  height: 40px;
}
.navbar .navbar-wrapper .nav-link svg {
  margin-right: 10px;
}
.navbar .navbar-wrapper .nav-link .item-count {
  font-size: 14px;
}
.navbar .navbar-wrapper .nav-link:not(:last-child) {
  margin-right: 20px;
}
.navbar .navbar-wrapper .nav-link:hover {
  color: #FFFFFF;
}
.banner {
  background-image: url("https://192.168.0.5/image/laptop-dark.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.banner .banner-container {
  background-image: -webkit-linear-gradient(-90deg, transparent 50%, rgba(0, 0, 0, 0.8) 100%);
  justify-content: center;
  align-items: flex-end;
  display: flex;
  height: 100vh;
  width: 100%;
}
.banner .banner-container .banner-wrapper {
  width: 50%;
}
.banner .banner-container .banner-wrapper .banner-title {
  text-transform: uppercase;
  font-family: Raleway;
  text-align: center;
  margin: 0 0 5px 0;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 75px;
}
.banner .banner-container .banner-wrapper .banner-paragraph {
  margin-bottom: 50px;
  text-align: center;
  line-height: 1.5em;
  font-weight: 100;
  color: #FFFFFF;
  font-size: 30px;
}
.main {
  margin-bottom: 100px;
  margin-top: 100px;
}
.main .grid-title {
  margin: 0 auto 40px auto;
  font-weight: 100;
  font-size: 45px;
  width: 80%;
}
.main .products {
  margin: 0 auto;
  display: grid;
  width: 80%;
}
.main .products .product {
  border: 1px solid #DDD;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
}
.main .products .product:not(:last-child) {
  margin-bottom: 50px;
}
.main .products .product .product-image {
  background-position: center;
  background-size: cover;
  margin-right: 50px;
  height: 150px;
  width: 150px;
}
.main .products .product .product-info-wrapper {
  justify-content: space-between;
  width: calc(100% - 150px);
  display: flex;
}
.main .products .product .product-info-wrapper .product-info .product-title {
  text-transform: uppercase;
  font-family: Raleway;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 30px;
}
.main .products .product .product-info-wrapper .product-info .product-price {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
}
.main .products .product .product-info-wrapper .product-info .product-description {
  line-height: 1.5em;
  font-size: 15px;
  max-width: 80%;
}
.main .products .product .product-info-wrapper .product-interact {
  align-items: flex-start;
  display: flex;
}
.main .products .product .product-info-wrapper .product-interact .product-addtocart {
  background-color: #5e81ac;
  justify-content: center;
  font-family: Open Sans;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  color: #FFF;
  display: flex;
  height: 50px;
  border: none;
  width: 200px;
  padding: 0;
}
.main .products .product .product-info-wrapper .product-interact .product-addtocart:active {
  font-size: 13px;
}
.main .products .product .product-info-wrapper .product-interact .product-addtocart svg {
  margin-right: 10px;
}
.footer {
  background-color: #191c22;
}
.footer .footer-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 50px;
  width: 80%;
}
.footer .footer-wrapper .left {
  width: 50%;
}
.footer .footer-wrapper .left .footer-title {
  text-transform: uppercase;
  margin: 25px 0 20px 0;
  font-family: Raleway;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 50px;
}
.footer .footer-wrapper .left .sitemap-title {
  font-family: Raleway;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 25px;
  color: #a3be8c;
}
.footer .footer-wrapper .left .sitemap-link {
  display: inline-block;
  text-decoration: none;
  color: #88c0d0;
}
.footer .footer-wrapper .left .sitemap-link:not(:last-child) {
  margin-right: 20px;
}
.footer .footer-wrapper .left .sitemap-link:hover {
  color: #FFF;
}
.footer .footer-wrapper .right {
  width: 50%;
}
.footer .footer-wrapper .copyright {
  font-family: Raleway;
  text-align: center;
  font-weight: 400;
  margin-top: 50px;
  font-size: 20px;
  color: #FFF;
}
