@font-face {
	src: url("https://127.0.0.1/font/opensans-bold.ttf");
	font-family: Open Sans;
	font-weight: 700;
}
@font-face {
	src: url("https://127.0.0.1/font/opensans-regular.ttf");
	font-family: Open Sans;
	font-weight: 400;
}
@font-face {
	src: url("https://127.0.0.1/font/opensans-light.ttf");
	font-family: Open Sans;
	font-weight: 100;
}

@font-face {
	src: url("https://127.0.0.1/font/raleway-bold.ttf");
	font-family: Raleway;
	font-weight: 700;
}
@font-face {
	src: url("https://127.0.0.1/font/raleway-regular.ttf");
	font-family: Raleway;
	font-weight: 400;
}
@font-face {
	src: url("https://127.0.0.1/font/raleway-thin.ttf");
	font-family: Raleway;
	font-weight: 100;
}