@font-face {
	src: url("../../static/fonts/opensans-bold.ttf");
	font-family: Open Sans;
	font-weight: 700;
}
@font-face {
	src: url("../../static/fonts/OpenSans-Regular.ttf");
	font-family: Open Sans;
	font-weight: 400;
}
@font-face {
	src: url("../../static/fonts/opensans-light.ttf");
	font-family: Open Sans;
	font-weight: 100;
}

@font-face {
	src: url("../../static/fonts/raleway-bold.ttf");
	font-family: Raleway;
	font-weight: 700;
}
@font-face {
	src: url("../../static/fonts/raleway-regular.ttf");
	font-family: Raleway;
	font-weight: 400;
}
@font-face {
	src: url("../../static/fonts/raleway-thin.ttf");
	font-family: Raleway;
	font-weight: 100;
}