// Imports
@import "fonts";

// Global objects.
body {
	background-color: #FFFFFF;
	font-family: Open Sans;
	font-size: 16px;
	margin: 0;
}

.navbar {
	background-color: #0a0d0f;
	position: fixed;
	z-index: 9002;
	width: 100%;
	top: 0;
	.navbar-wrapper {
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		display: flex;
		height: 70px;
		width: 90%;
		.left, .right {
			align-items: center;
			display: flex;
		}
		.nav-link {
			text-decoration: none;
			align-items: center;
			color: #CCCCCC;
			font-size: 16px;
			padding: 0 20px;
			display: flex;
			height: 40px;
			svg { margin-right: 10px; }
			.item-count { font-size: 14px; }
			&:not(:last-child) { margin-right: 20px; }
			&:hover { color: #FFFFFF; }
		}
	}
}

.main {
	margin-top: 70px;
	.banner {
		&.homepage {
			background-image: url("https://192.168.0.5/image/laptop-dark.jpg");
		}
		&.sea {
			background-image: url("https://192.168.0.5/image/sea-banner.jpg");
		}
		//background-attachment: fixed;
		background-position: center;
		height: calc(100vh - 70px);
		background-size: cover;
		overflow: hidden;
		.product-showcase {
			position: absolute;
			bottom:0;
			right:0;
			left:0;
			top:0;
		}
		.banner-container {
			background-image:
				-webkit-linear-gradient(
					-90deg,
					transparent 50%,
					rgba(0,0,0,.8) 100%
				)
			;
			height: calc(100vh - 70px);
			justify-content: center;
			align-items: flex-end;
			display: flex;
			width: 100%;
			.banner-wrapper {
				width: 50%;
				.banner {
					&-title {
						text-transform: uppercase;
						font-family: Raleway;
						text-align: center;
						margin: 0 0 5px 0;
						font-weight: 400;
						color: #FFFFFF;
						font-size: 75px;
					}
					&-paragraph {
						margin-bottom: 50px;
						text-align: center;
						line-height: 1.5em;
						font-weight: 100;
						color: #FFFFFF;
						font-size: 30px;
					}
				}
			}
		}
	}
	.products {
		margin: 150px 0;
		.products-wrapper {
			margin: 0 auto;
			width: 80%;
			.products-title {
				text-transform: uppercase;
				font-family: Raleway;
				margin-bottom: 40px;
				font-weight: 900;
				font-size: 40px;
				width: 80%;
			}
			.product {
				border: 1px solid #DDD;
				box-sizing: border-box;
				padding: 30px;
				display: flex;
				&:not(:last-child) { margin-bottom: 50px; }
				.product-image {
					background-position: center;
					background-size: cover;
					margin-right: 50px;
					height: 150px;
					width: 150px;
				}
				.product-info-wrapper {
					justify-content: space-between;
					width: calc(100% - 150px);
					display: flex;
					.product-info {
						.product {
							&-title {
								text-transform: uppercase;
								font-family: Raleway;
								margin-bottom: 10px;
								font-weight: 900;
								font-size: 30px;
								color: #575fcf;
							}
							&-price {
								margin-bottom: 10px;
								font-weight: 400;
								font-size: 20px;
							}
							&-description {
								line-height: 1.5em;
								font-size: 15px;
								max-width: 80%;
							}
						}
					}
					.product-interact {
						.product-addtocart {
							background-color: #575fcf;
							justify-content: center;
							font-family: Open Sans;
							align-items: center;
							font-size: 14px;
							cursor: pointer;
							color: #FFF;
							display: flex;
							height: 50px;
							border: none;
							width: 200px;
							padding: 0;
							&:hover { background-color: darken(#575fcf, 5%); }
							&:active { font-size: 13px; }
							svg { margin-right: 10px; }
						}
						.product-viewproduct {
							background-color: #ff3f34;
							justify-content: center;
							font-family: Open Sans;
							text-decoration: none;
							align-items: center;
							margin-top: 20px;
							font-size: 14px;
							cursor: pointer;
							color: #FFF;
							display: flex;
							height: 50px;
							border: none;
							width: 200px;
							padding: 0;
							&:hover { background-color: darken(#ff3f34, 5%); }
							&:active { font-size: 13px; }
							svg { margin-right: 10px; }
						}
					}
				}
			}
		}
	}
	.product-price-banner {
		border-bottom: 1px solid #d2dae2;
		.price-banner-wrapper {
			text-align: right;
			padding: 20px 0;
			width: 80%;
			.price {
				font-family: Raleway;
				font-weight: 400;
				font-size: 25px;
			}
			.addtocart-btn {
				background-color: #ff3f34;
				justify-content: center;
				font-family: Open Sans;
				align-items: center;
				margin-top: 20px;
				font-size: 14px;
				cursor: pointer;
				color: #FFF;
				height: 50px;
				border: none;
				width: 200px;
				padding: 0;
				&:hover { background-color: darken(#ff3f34, 10%); }
				&:active { font-size: 13px; }
				svg { margin-right: 10px; }
			}
		}
	}
	.product-view {
		.product-header {
			background-color: rgba(255,255,255,.9);
			position: fixed;
			height: 100px;
			width: 100%;
			top: 70px;
			.product-header-wrapper {
				align-items: center;
				margin: 0 auto;
				display: flex;
				height: 100px;
				width: 90%;
				.left, .right { width: 50%; }
				.right {
					justify-content: flex-end;
					align-items: center;
					display: flex;
				}
				.product-name {
					text-transform: uppercase;
					font-family: Raleway;
					font-weight: bold;
					font-size: 30px;
					color: #000;
				}
				.product-screen-size {
					font-weight: 400;
					font-size: 17px;
					color: #AAA;
				}
				.product-price {
					font-family: Open Sans;
					margin-left: 20px;
					font-size: 20px;
					color: #000;
				}
				.product-addtocart {
					background-color: #0be881;
					justify-content: center;
					font-family: open sans;
					align-items: center;
					cursor: pointer;
					display: flex;
					color: #FFF;
					border: none;
					height: 40px;
					width: 170px;
					padding: 0;
					&:hover { background-color: darken(#0be881,5%); }
					svg { margin-right: 10px; }
				}
			}
		}
		.product-banner {
			background-image: url('https://192.168.0.5/image/matebook-banner.png');
			background-repeat: no-repeat;
			background-position: center;
			height: calc(100vh - 170px);
			background-color: #000;
			background-size: 50%;
			margin-top: 170px;
			width: 100%;
		}
		.product-info {
			margin: 100px auto;
			width: 70%;
			h1 {
				text-transform: uppercase;
				color: darken(#000,8%);
				font-family: Raleway;
				font-weight: bold;
				font-size: 50px;
				margin: 0;
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
			img {
				vertical-align: middle;
				margin: 40px 0;
				width: 100%;
			}
			h2 {
				font-family: Raleway;
				font-weight: bold;
				font-size: 30px;
				margin: 0;
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
			p {
				margin: 0;
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}
	}
}

.footer {
	background-color: #0a0d0f;
	padding: 100px 0;
	.footer-wrapper {
		margin: 0 auto;
		display: flex;
		width: 80%;
		.left,.right { width: 50%; }
		.left {
			.footer-logo {
				text-transform: uppercase;
				font-family: Raleway;
				font-weight: 900;
				font-size: 50px;
				color: #FFF;
			}
			.sitemap {
				.sitemap-title {
					font-family: Raleway;
					font-weight: 700;
					color: #0be881;
					font-size: 25px;
					margin: 25px 0;
				}
				.sitemap-link {
					text-decoration: none;
					color: #CCC;
					&:not(:last-child) { margin-right: 40px; }
					&:hover { color: #FFF; }
				}
			}
			.contact {
				margin-top: 50px;
				.contact-title {
					font-family: Raleway;
					font-weight: 700;
					font-size: 25px;
					margin: 25px 0;
					color: #0be881;
				}
				.email {
					align-items: center;
					color: #FFF;
					display: flex;
					a {
						text-decoration: none;
						margin-right: 10px;
						color: #CCC;
						&:hover {
							text-decoration: underline;
							color: #FFF;
						}
					}
					svg {
						margin-right: 10px;
						color: #FFF;
					}
				}
			}
		}
	}
	.copyright {
		font-family: Raleway;
		text-align: center;
		margin-top: 100px;
		font-size: 20px;
		color: #FFF;
	}
}