// Imports
@import "fonts";

// Global objects.
body {
	background-color: #FFFFFF;
	font-family: Open Sans;
	font-size: 16px;
	margin: 0;
}

.navbar {
	background-color: rgba(0,0,0,.95);
	position: fixed;
	z-index: 9002;
	width: 100%;
	top: 0;
	.navbar-wrapper {
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		display: flex;
		height: 70px;
		width: 90%;
		.left, .right {
			align-items: center;
			display: flex;
		}
		.nav-link {
			text-decoration: none;
			align-items: center;
			color: #CCCCCC;
			font-size: 16px;
			padding: 0 20px;
			display: flex;
			height: 40px;
			svg { margin-right: 10px; }
			.item-count { font-size: 14px; }
			&:not(:last-child) { margin-right: 20px; }
			&:hover { color: #FFFFFF; }
		}
	}
}

.main {
	.banner {
		&.homepage {
			background-image: url("https://192.168.0.5/image/laptop-dark.jpg");
		}
		&.sea {
			background-image: url("https://192.168.0.5/image/sea-banner.jpg");
		}
		//background-attachment: fixed;
		background-position: center;
		background-size: cover;
		overflow: hidden;
		height: 100vh;
		.product-showcase {
			position: absolute;
			bottom:0;
			right:0;
			left:0;
			top:0;
		}
		.banner-container {
			background-image:
				-webkit-linear-gradient(
					-90deg,
					transparent 50%,
					rgba(0,0,0,.8) 100%
				)
			;
			height: 100vh;
			justify-content: center;
			align-items: flex-end;
			display: flex;
			width: 100%;
			.banner-wrapper {
				width: 50%;
				.banner {
					&-title {
						text-transform: uppercase;
						font-family: Raleway;
						text-align: center;
						margin: 0 0 5px 0;
						font-weight: 400;
						color: #FFFFFF;
						font-size: 75px;
					}
					&-paragraph {
						margin-bottom: 50px;
						text-align: center;
						line-height: 1.5em;
						font-weight: 100;
						color: #FFFFFF;
						font-size: 30px;
					}
				}
			}
		}
	}
	.products {
		margin: 150px 0;
		.products-wrapper {
			margin: 0 auto;
			width: 80%;
			.products-title {
				text-transform: uppercase;
				font-family: Raleway;
				margin-bottom: 40px;
				font-weight: 900;
				font-size: 40px;
				width: 80%;
			}
			.product {
				border: 1px solid #DDD;
				box-sizing: border-box;
				padding: 30px;
				display: flex;
				&:not(:last-child) { margin-bottom: 50px; }
				.product-image {
					background-position: center;
					background-size: cover;
					margin-right: 50px;
					height: 150px;
					width: 150px;
				}
				.product-info-wrapper {
					justify-content: space-between;
					width: calc(100% - 150px);
					display: flex;
					.product-info {
						.product {
							&-title {
								text-transform: uppercase;
								font-family: Raleway;
								margin-bottom: 10px;
								font-weight: 900;
								font-size: 30px;
								color: #575fcf;
							}
							&-price {
								margin-bottom: 10px;
								font-weight: 900;
								color: #0a0d0f;
								font-size: 20px;
							}
							&-description {
								line-height: 1.5em;
								font-size: 15px;
								max-width: 80%;
							}
						}
					}
					.product-interact {
						.product-addtocart {
							background-color: #575fcf;
							justify-content: center;
							font-family: Open Sans;
							align-items: center;
							font-size: 14px;
							cursor: pointer;
							color: #FFF;
							display: flex;
							height: 50px;
							border: none;
							width: 250px;
							padding: 0;
							&:hover { background-color: lighten(#575fcf, 5%); }
							&:active { font-size: 13px; }
							svg { margin-right: 10px; }
							b { margin-left: 10px; }
						}
						.product-viewproduct {
							background-color: #ff3f34;
							justify-content: center;
							font-family: Open Sans;
							text-decoration: none;
							align-items: center;
							margin-top: 20px;
							font-size: 14px;
							cursor: pointer;
							color: #FFF;
							display: flex;
							height: 50px;
							border: none;
							width: 250px;
							padding: 0;
							&:hover { background-color: lighten(#ff3f34, 5%); }
							&:active { font-size: 13px; }
							svg { margin-right: 10px; }
						}
					}
				}
			}
		}
	}
	.product-price-banner {
		border-bottom: 1px solid #d2dae2;
		.price-banner-wrapper {
			text-align: right;
			padding: 20px 0;
			width: 80%;
			.price {
				font-family: Raleway;
				font-weight: 400;
				font-size: 25px;
			}
			.addtocart-btn {
				background-color: #ff3f34;
				justify-content: center;
				font-family: Open Sans;
				align-items: center;
				margin-top: 20px;
				font-size: 14px;
				cursor: pointer;
				color: #FFF;
				height: 50px;
				border: none;
				width: 200px;
				padding: 0;
				&:hover { background-color: darken(#ff3f34, 10%); }
				&:active { font-size: 13px; }
				svg { margin-right: 10px; }
			}
		}
	}
	.product-price {
		text-align: right;
		margin-top: 70px;
		padding: 50px;
		.product-addtocart {
			background-color: #ff3f34;
			font-family: open sans;
			margin-bottom: 20px;
			font-size: 15px;
			cursor: pointer;
			color: #FFF;
			width: 150px;
			height: 40px;
			border: none;
			padding: 0;
			&:hover { background-color: lighten(#ff3f34, 5%); }
		}
		.price {
			font-weight: bold;
			font-size: 25px;
		}
	}
	.product-view {
		margin: 50px 0 100px 0;
		overflow: hidden;
		.product {
			&-title {
				text-transform: uppercase;
				font-family: Raleway;
				text-align: center;
				color: #0a0d0f;
				font-size: 70px;
				margin: 0px;
				&:not(:first-child) { margin-top: 200px; }
			}
			&-sub-title {
				text-transform: uppercase;
				font-family: Raleway;
				text-align: center;
				font-weight: 400;
				font-size: 40px;
				margin: 100px 0 0 0;
			}
			&-paragraph {
				text-align: center;
				margin: 25px auto;
				max-width: 800px;
				font-size: 25px;
			}
			&-banner {
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				justify-content: center;
				margin: 100px auto;
				display: flex;
				height: 750px;
				width: 1000px;
			}
			&-full-banner {
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				justify-content: center;
				margin: 50px auto;
				display: flex;
				height: 500px;
				width: 100%;
			}
			&-video {
				max-width: 50%;
				margin: 0 auto;
				display: block;
			}
			&-small {
				text-align: center;
				margin: 25px auto;
				font-size: 15px;
				display: block;
			}
		}
	}
	.guestbook {
		margin: 170px auto 100px auto;
		overflow: hidden;
		width: 75%;
		.guestbook-title {
			text-transform: uppercase;
			margin: 0 auto 10px auto;
			font-family: Raleway;
			font-size: 50px;
		}
		.guestbook-sub-title {
			margin: 0 auto 25px auto;
			text-transform: initial;
			font-family: Raleway;
			font-weight: 400;
			font-size: 25px;
		}
		.guestbook-form {
			#name {
				border: 2px solid #0a0d0f;
				font-family: Open Sans;
				color: #0a0d0f;
				font-size: 17px;
				display: block;
				padding: 10px;
				width: 50%;
				&::-moz-placeholder, &::placeholder, &::-webkit-input-placeholder {
					color: #0a0d0f;
					opacity: 1;
				}
				&:focus {
					&::-moz-placeholder, &::placeholder, &::-webkit-input-placeholder {
						color: transparent;
						opacity: 1;
					}
				}
			}
			#message {
				border: 2px solid #0a0d0f;
				font-family: Open Sans;
				margin-top: 25px;
				resize: vertical;
				color: #0a0d0f;
				font-size: 17px;
				display: block;
				height: 250px;
				padding: 10px;
				width: 50%;
				&::-moz-placeholder, &::placeholder, &::-webkit-input-placeholder {
					color: #0a0d0f;
					opacity: 1;
				}
				&:focus {
					&::-moz-placeholder, &::placeholder, &::-webkit-input-placeholder {
						color: transparent;
						opacity: 1;
					}
				}
			}
			#submit {
				background-color: #0a0d0f;
				text-transform: uppercase;
				font-family: Raleway;
				font-weight: 900;
				margin-top: 25px;
				cursor: pointer;
				font-size: 18px;
				display: block;
				color: #FFF;
				border: none;
				width: 200px;
				height: 50px;
			}
		}
		.guestbook-entries {
			margin-top: 100px;
			width: 100%;
			.guestbook-entry {
				border: 1px solid #CCC;
				box-sizing: border-box;
				padding: 20px;
				.entry {
					&-title {
						margin-bottom: 10px;
						font-weight: bold;
						font-size: 20px;
					}
				}
				.line-break {
					height: 10px;
				}
				&:not(:first-child) { margin-top: 50px; }
			}
		}
	}
}

.form_splitview {
	display: flex;
	
}

.footer {
	background-color: #000;
	padding: 100px 0;
	.footer-wrapper {
		margin: 0 auto;
		display: flex;
		width: 80%;
		.left,.right { width: 50%; }
		.left {
			.footer-logo {
				text-transform: uppercase;
				font-family: Raleway;
				font-weight: 900;
				font-size: 50px;
				color: #FFF;
			}
			.sitemap {
				.sitemap-title {
					font-family: Raleway;
					font-weight: 700;
					color: #0be881;
					font-size: 25px;
					margin: 25px 0;
				}
				.sitemap-link {
					text-decoration: none;
					color: #CCC;
					&:not(:last-child) { margin-right: 40px; }
					&:hover { color: #FFF; }
				}
			}
			.contact {
				margin-top: 50px;
				.contact-title {
					font-family: Raleway;
					font-weight: 700;
					font-size: 25px;
					margin: 25px 0;
					color: #0be881;
				}
				.email {
					align-items: center;
					color: #FFF;
					display: flex;
					a {
						text-decoration: none;
						margin-right: 10px;
						color: #CCC;
						&:hover {
							text-decoration: underline;
							color: #FFF;
						}
					}
					svg {
						margin-right: 10px;
						color: #FFF;
					}
				}
			}
		}
	}
	.copyright {
		font-family: Raleway;
		text-align: center;
		margin-top: 100px;
		font-size: 20px;
		color: #FFF;
	}
}